
*{
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    color: rgb(115, 115, 124);
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

}

header{
    background-color: #002e5a;
    padding: 0px;
    margin: 0;
    height: 80%;
}


footer {
  background-color: #002e5a;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #aaa;
}

/* Responsive */


.plan-site{
    display: inline-block;

}

.head{
    background-color: #fff;
    margin: 0;
    padding: 5px;
}


nav {
    background-color: #003d6b;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-item {
    position: relative;
    flex: 1;
}

.nav-item a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    border-bottom: 3px solid transparent;
}

.nav-item a:hover {
    background-color: #00568f;
    border-bottom-color: #fff;
}

/* Style du menu déroulant */
.nav-item.dropdown {
    background-color: white;
}

.nav-item.dropdown > a {
    color: white;
    background-color: #003d6b;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #003d6b;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-bottom-color: #003d6b;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item.dropdown:hover > a {
    color: #fff;
}

/* Indicateur de menu déroulant */
.dropdown > a::after {
    content: " ▼";
    font-size: 12px;
    margin-left: 5px;
}

/*DROPDOWN*/

.lib-title{
    color: rgb(19, 19, 111);
    font-size: 1.5em;
    padding-left: 15px;
    font-weight: normal;
}

.titre-page{
    color: rgb(23, 23, 130);
    font-size: 3em;
    word-spacing: 2px;
    text-align: center;
    padding: 15px;
    padding-top: 2px;
    padding-bottom: 15px;
    display: block;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2px;
    margin-bottom: 5px;
}


.title-1, .title-2, .title-3, .title-4, .title-5, .title-6{
    text-align: center;
    display: grid;
    background-size: cover;
    background-position: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    font-weight: none;
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #d20519;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.corps-compo{
    box-shadow: 0 0 10px rgba(187, 186, 200, 0.8);
    margin-left: 10%;
    margin-right: 15%;
    text-align: justify;
    background-color: rgb(254, 254, 254);
    padding: 35px;
}

.img_univtlse{
    height: 8%;
    width: 10%;
    margin-right: 5%;
    text-align: left;
    margin-top: 0;
    margin-left: 8px;
}

.img_iuttlse{
    height: 7%;
    width: 10%;
    /*margin-bottom: 2%;*/
    text-align: left;
    margin-left: 2%;
}

.img_butinfo{
    height: 5%;
    width: 10%;
    margin-left: 60%;
    align-items: right;
    margin-right: 0;
    margin-top: 0;
    /*margin-bottom: 2%;*/
}


table{
    font-weight: normal;
    border-collapse: collapse;
    border: 1px solid rgb(196, 197, 204);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10%;
    
}

th{
    border: 1px solid rgb(196, 197, 204);
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
td{
    border: 1px solid rgb(196, 197, 204);
    border-radius: 10px;
    text-align: center;
}

.sein-niv-1-1{
    display: flex;
    padding-top: 5px;
}

.sein-niv-1-2{
    display: flex;
    padding-top: 5px;
}

.cover-tofs{
    width: 40%;
    height: 40%;   
    border-radius: 5px;
    padding-bottom: 3%;
    margin-left: 30%;
}

#img1-AC, #img5-AC{
    margin-top: 5px;
    height: 30%;
    width: 40%;
}

#img2-AC, #img6-AC{
    margin-top: 15px;
    height: 50%;
    width: 40%;
}

#img3-AC{
    margin-top: 20px;
    height: 60%;
    width: 40%;
    font-size: 0.8em;
}

#img4-AC{
    margin-top: 5px;
    height: 30%;
    width: 40%;
}




#img_installposte{
    margin-top: 5px;
    height: 220px;
    width: 40%;
}


.super-liste1{
    font-size: 1em;
    color: #585656;
    /*border: 1px solid rgb(196, 197, 204);*/
    text-align: justify;
    border-radius: 10px;
    width: 100%;
    align-content: right;
    padding: 5px;
    padding-top: 10px;
    margin-left: 7px;
    margin-top: 0;
    
}

.super-liste1 li {
    padding-bottom: 20px;
    padding-left: 10px;
    color: rgb(115, 115, 124);
    font-size: 1.1em;
}


.super-liste-2, .super-liste-5{
    font-size: 1em;
    color: #585656;
    /*border: 1px solid rgb(196, 197, 204);*/
    text-align: justify;
    border-radius: 10px;
    width: 100%;
    align-content: right;
    padding: 5px;
    padding-top: 10px;
    margin-left: 7px;
    margin-top: 0;
}

.super-liste-2 li{
    padding-bottom: 20px;
    padding-left: 10px;
    color: rgb(115, 115, 124);
    font-size: 1em;
}

.super-liste-5 li{
    padding-bottom: 35px;
    padding-left: 10px;
    color: rgb(115, 115, 124);
    font-size: 1.1em;
}



.im2-COEFF{
    padding: 5%;
}

.table-ac{
    font-weight: normal;
    border-collapse: collapse;
    border: 1px solid rgb(196, 197, 204);
    border-radius: 10%;
}

thead, tbody{
    border: 1px solid rgb(196, 197, 204);
    border-collapse: collapse;
    border-radius: 10px;
}

.hash-tag{
    display: flex;
    font-style: oblique;
    padding-right: 3%;
    color: rgb(67, 57, 155);
}

.a-griser{
    font-weight: bolder;
}

.ent-ress{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: 1.3em;

}

.apprentissages, .descriptif-ress{
    border: 1px solid rgb(196, 197, 204);
    margin-bottom: 1.5%;
    padding: 10px;
    border-radius: 10px;
    padding-top: 0;
    
}

.code-ress{
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(196, 197, 204);
    border-radius: 3px;
    color: #fffdfd;

}

.name-ress{
    color: rgb(231, 6, 6);
    text-align: left;
}

.class-R101, .class-R102, .class-R110{
    border: 1px solid rgb(196, 197, 204);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3%;

}

/********* HIGH STYLE ****************/

.titres{
    color: rgb(231, 6, 6);
    text-align: left;
}

.titre-2{
    color: #0f0ca7;
    text-align: left;
}

.titre-3{
    color: rgb(102, 102, 105);
    text-align: left;
}

.page-title{
    text-align: center;
}

li{
    list-style-type: none;
}

.part-niv1, .part-eval, .part-SAE, .part-ress{
    margin-bottom: 5%;
    border: 1px solid rgb(196, 197, 204);
    padding: 30px;
    padding-top: 1px;
    border-radius: 10px;
}


h1{
    font-size: 1.7em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.3em;
}

h4{
    font-size: 1.1em;
}

.lien-bottom{
    text-align: center;
    margin-left: 20%;
    margin-top: 5px;
    color: #002e5a;
    font-size: 1.3em;
}

.lien-bottom:hover{
    color: rgb(129, 7, 7);
    margin-left: 20%;
    margin-top: 5px;
    text-decoration: underline;
    border: 1px solid #002e5a;
    background-color: #002e5a;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.final-links{
    display: flex;
    transition: 0.2s;
    margin-left: 30%;
}


@media (max-width: 1200px) {
  .footer-section {
    width: 100%;
  }
  .nav-bar{
    display: block;
  }

  .sein-niv-1-1, .sein-niv-1-2{
    display: block;
    padding-top: 5px;
  }

  table{
    width: 50%;
    height: 50%;
    padding: 10%;
    font-size: 0.5em;
  }
  #img1-AC, #img2-AC, #img3-AC, #img4-AC, #img5-AC{
    align-items: center;
    display: block;
  }
}