*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4ff;
}

.la-page{
  padding: 10px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4ff; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.entete-form {
  margin-top: 40px;
  font-size: 2.5em;
  color: #1e3a8a; 
  border-bottom: 3px solid #a30609; 
  padding-bottom: 10px;
  margin-top: 30px;
  font-size: 1.8em;
  text-align: center;
}


form, .Renseignements {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(187, 186, 200, 0.8); 
  width: 100%;
  max-width: 500px;
  margin: 20px;
  border: 1px solid #1e3a8a; 
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #1e3a8a;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dc2626;
  border-radius: 8px;
  font-size: 1em;
  background-color: #fefefe;
}

textarea {
  resize: vertical;
}


button {
  margin-top: 20px;
  padding: 12px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

button:hover {
  background-color: #1e3a8a;
}

img {
  width: 100%;
}

.infos{
  margin-top: 20px;
  font-size: 1em;
  color: #1e3a8a;
  line-height: 1.6;
  padding: 10px;
}

iframe{
  width: 100%;
}